@page
@model WebApp.Pages_Configuration.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" asp-route-UserName="@ViewData["UserName"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].BoardWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].BoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].GridWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].GridHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].WinCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].MovePieceAfterNMoves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Player1PieceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Player2PieceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].ModifiedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Configuration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GridWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GridHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovePieceAfterNMoves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1PieceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2PieceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id" asp-route-UserName="@ViewData["UserName"]">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" asp-route-UserName="@ViewData["UserName"]">Delete</a>
                @if (ViewData["UserName"] as string == "admin")
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-UserName="@ViewData["UserName"]">Edit</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
